$blue-grey-800: #37474F;
$blue-grey-700: #455A64;
$blue-grey-600: #546E7A;

$light-blue-800: #0277BD;

$indigo-100: #C5CAE9;

$orange-700: #F57C00;

$grey-300: #E0E0E0;

$green-500: #4CAF50;
$red-500: #F44336;
$orange-500: #FF9800